.git
.gitignore
node_modules
vendor
.env
.env.*
docker-compose.*
Dockerfile
docker/
*.log
*.sqlite
*.md
.idea
.vscode
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/tests
webpack.mix.js
vite.config.js
