# APP SETTINGS
APP_NAME=Atenea
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000

VITE_APP_URL=http://localhost:8000

# DATABASE
DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=atenea
DB_USERNAME=atenea
DB_PASSWORD=password

# POSTGRES SERVICE
POSTGRES_DB=atenea
POSTGRES_USER=atenea
POSTGRES_PASSWORD=password

# SESSION
SESSION_DRIVER=database

# CACHE
# Opciones: file, database, redis, etc.
CACHE_DRIVER=database

# QUEUE
# Opciones: sync, database, redis, etc.
QUEUE_CONNECTION=sync

# LOGGING
LOG_CHANNEL=stderr
LOG_LEVEL=info

# INERTIA
SSR_ENABLED=false

# SCHEDULER
SCHEDULE_RUN=false
